// Created with https://coolors.co/020d13-031a26-052639-06334b-ecf7fd

/* SCSS RGB */
$rich-black: rgba(2, 13, 19, 1);
$rich-black-2: rgba(3, 26, 38, 1);
$prussian-blue: rgba(5, 38, 57, 1);
$prussian-blue-2: rgba(6, 51, 75, 1);
$lapis-lazuli: rgba(14, 89, 129, 1);
$alice-blue: rgba(236, 247, 253, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-right: linear-gradient(90deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-bottom: linear-gradient(180deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-left: linear-gradient(270deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-top-right: linear-gradient(45deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-bottom-right: linear-gradient(
  135deg,
  #020d13ff,
  #031a26ff,
  #052639ff,
  #06334bff,
  #ecf7fdff
);
$gradient-top-left: linear-gradient(225deg, #020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
$gradient-bottom-left: linear-gradient(
  315deg,
  #020d13ff,
  #031a26ff,
  #052639ff,
  #06334bff,
  #ecf7fdff
);
$gradient-radial: radial-gradient(#020d13ff, #031a26ff, #052639ff, #06334bff, #ecf7fdff);
