@import "./reset.css";

/* color palette */
:root {
  --color-light: #f9f9f9;
  --color-lighter: #8f85ff;
  --color-main: #1400f5;
  --color-dark: #0A007A;
  --color-darker: #070052;
}

html {
  background-color: var(--color-light);
}

body {
  height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
